@import "variables.scss";
@import "common.scss";

.messages-container {
  background-color: $white;
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
  padding-top: 10px;
}

.full-screen {

  .messages-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px)  {
  .messages-container {
    @include messages-container-fs;
  }
}

.typing-indicator:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}